In [9]:
import pandas as pd

data=pd.read_csv("car data.csv",squeeze=True)

In [ ]:
print(data)

    Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0       ritz  2014           3.35           5.59       27000    Petrol
1        sx4  2013           4.75           9.54       43000    Diesel
2       ciaz  2017           7.25           9.85        6900    Petrol
3    wagon r  2011           2.85           4.15        5200    Petrol
4      swift  2014           4.60           6.87       42450    Diesel
..       ...   ...            ...            ...         ...       ...
296     city  2016           9.50          11.60       33988    Diesel
297     brio  2015           4.00           5.90       60000    Petrol
298     city  2009           3.35          11.00       87934    Petrol
299     city  2017          11.50          12.50        9000    Diesel
300     brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
..          ...          ...    ...
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]

In [ ]:
print(type(data))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(data.dtypes)

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [ ]:
d=data[data['Kms_Driven']>=30000].sum()

160

In [72]:
data[(data['Fuel_Type']=='Petrol') & (data['Year']==2017) & (data['Selling_Price']>10)].shape[0]

2

In [49]:
data[(data['Car_Name']=='swift') & (data['Selling_Price']<4)].shape[0]

1

In [53]:
data[(data['Transmission']=='Automatic') & (data['Fuel_Type']=='Petrol') & (data['Year']==2015) & (data['Selling_Price']>10)].shape[0]

1

In [55]:
data[(data['Transmission']=='Automatic')  & (data['Selling_Price']<1)]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
155,Honda Activa 4G,2017,0.48,0.51,4300,Petrol,Individual,Automatic,0
159,Honda Activa 4G,2017,0.45,0.51,4000,Petrol,Individual,Automatic,0
165,Activa 3g,2016,0.45,0.54,500,Petrol,Individual,Automatic,0
173,Activa 4g,2017,0.40,0.51,1300,Petrol,Individual,Automatic,0
177,Honda Activa 125,2016,0.35,0.57,24000,Petrol,Individual,Automatic,0
178,TVS Jupyter,2014,0.35,0.52,19000,Petrol,Individual,Automatic,0
185,Suzuki Access 125,2008,0.25,0.58,1900,Petrol,Individual,Automatic,0
186,TVS Wego,2010,0.25,0.52,22000,Petrol,Individual,Automatic,0
196,Activa 3g,2008,0.17,0.52,500000,Petrol,Individual,Automatic,0

In [59]:
data[(data['Fuel_Type']=='Petrol') & (data['Kms_Driven']>50000) & (data['Year']>=2010) & (data['Year']<=2015)].shape[0]

23

In [62]:
data[(data['Present_Price'] - data['Selling_Price'])>15]

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
50,fortuner,2012,14.90,30.61,104707,Diesel,Dealer,Automatic,0
59,fortuner,2014,19.99,35.96,41000,Diesel,Dealer,Automatic,0
62,fortuner,2014,18.75,35.96,78000,Diesel,Dealer,Automatic,0
78,corolla altis,2010,5.25,22.83,80000,Petrol,Dealer,Automatic,0
79,fortuner,2012,14.50,30.61,89000,Diesel,Dealer,Automatic,0
85,camry,2006,2.50,23.73,142000,Petrol,Individual,Automatic,3
86,land cruiser,2010,35.00,92.60,78000,Diesel,Dealer,Manual,0
94,corolla altis,2008,4.00,22.78,89000,Petrol,Dealer,Automatic,0

In [65]:
data[(data['Fuel_Type']=='Petrol') & (data['Kms_Driven']<5000) & (data['Selling_Price']<0.5)].shape[0]

6